* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.containr {
	max-width: 880px;
	margin: 0 auto;
}
.containr::after {
	content: '';
	display: block;
	clear: both;
}
.containr img {
	float: left;
	width: 50%;
}
